body {
    background-color: #f2f2f2;
    text-align: center;
}

.container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selection {
    display: inline-block;
    padding: 3rem;
}

.container li {
    list-style-type: none;
    font-size: 3rem;
}